---
export interface Props{
    title:string,
    navItems:{
        itemText:string,
        itemLink:string
    }[],
    
}

const {title, navItems} = Astro.props
---

<nav class="space-y-6 text-secondary dark:text-tertiary">
    <h2 class="capitalize font-semibold text-xl">
        {title}
    </h2>
    <ul class="space-y-3 font-medium md:text-lg">
        {navItems.map((navItem)=>(
            <li>
                <a
                    href={navItem.itemLink}
                    class="transition text-inherit hover:text-primary dark:hover:text-primary"
                >
                    {navItem.itemText}
                </a>
            </li>
        ))

        }
    </ul>
</nav>