---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { projects } from "../../utils/work";
import WorksGrid from "./WorksGrid.astro";
import Subtitle from "components/shared/Subtitle.astro";
import { type Project } from "../../utils/work";


---

<section id="ourwork">
  <Container >
    <div class="text-center max-w-3xl mx-auto space-y-4 my-10">
      <h2 class="font-bold text-5xl text-secondary dark:text-tertiary">
        Some of Our Work
      </h2>
      <Paragraph>
        A few example of the projects we have worked so far. Click on the cards
        and you will be redirected to the project page.
      </Paragraph>
    </div>

    <WorksGrid />
    <!-- {
        projects.map((project: Project) => {
          return (
            <Works
              title={project.title}
              description={project.description}
              image={project.image}
              position=""
              url={project.link}
            />
          );
        })
      } -->
  </Container>
</section>
