---
import { Tick } from "../sections/ui/icons";
import Link from "../sections/ui/link.astro";

const { plan } = Astro.props;
---

<div>
  <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-secondary dark:border-tertiary border-opacity-50 p-5 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-secondary dark:text-tertiary">{plan.name}</h4>
      {
        plan.price.original && (
          <p class="mt-1 text-lg font-medium text-gray-400 md:text-xl">
            {plan.price.original}
          </p>
        )
      }
      
      <p
        class="mt-3 text-4xl font-bold text-secondary dark:text-tertiary md:text-4xl">
        {
          plan.price && typeof plan.price === "object"
            ? plan.price.monthly
            : plan.price
        }
      </p>
     
    </div><ul class="grid mt-8 text-left gap-y-4">
      {
        plan.features.map((item:any) => (
          <li class="flex items-start gap-3">
            <Tick class="w-6 h-6" />
            <span>{item}</span>
          </li>
        ))
      }
    </ul><div class="flex mt-8">
      <Link
        href={plan.button.link || "#"}
        block
        style={plan.popular ? "primary" : "outline"}>
        {plan.button.text || "Get Started"}
      </Link>
    </div>
  </div>
</div>
