---
import Layout from "../layouts/Layout.astro";
import Container from "../components/sections/container.astro";
import Hero from "../components/sections/Hero.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Services from "../components/sections/Services.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import Testimonials from "../components/sections/testimonials.astro";
import WorksGrid from "../components/sections/WorksGrid.astro";
import InfoLanding from "../components/sections/InfoLanding.astro";
import PreFooterCTA from "../components/sections/PreFooterCTA.astro";
const description =
  "Premium web design and developement services for local businesses in Noosa Hinterland and beyond.";
//The mission is simple: to help you establish and enhance your online presence, no matter where you're starting from! Contact André today!"
---

<Layout
  title="Helping you kickstart your online presence"
  value=""
  description={description}
>
  <main class="flex flex-col gap-y-24 md:gap-y-32 overflow-hidden">
    <Hero />
    <Services />
    <Testimonials />
    <WorksGrid />
    <AboutUs />

    <PreFooterCTA />
  </main>
</Layout>
