---
import Layout from "../layouts/Layout.astro";
import Container from "../components/sections/container.astro";
import Sectionhead from "../components/sections/sectionhead.astro";
import PricingCard from "../components/sections/pricingCard.astro";

const pricing = [
  {
    name: "Basic",
    price: "$790",
    popular: false,
    features: [
      "1 Landing Page",
     
      "Contact Form Integration",
      "1 Revision",
      "1 month of hosting",
      "1 month of upkeep and support",
    ],
    button: {
      text: "Get Started",
      link: "https://tidycal.com/silvandre/landing-page-booking-type",
    },
  },
  {
    name: "Pro",
    price: {
      monthly: "$1690",
      annual: "$16",
      discount: "10%",
      original: "starts at",
    },
    popular: true,
    features: [
      "Everything from the Basic Package",
      "Up to 5 Pages",
      "Custom Blog",
      "2 Revisions",
      "3 months of hosting",
      "3 months of upkeep and support",
    ],
    button: {
      text: "Get Started",
      link: "https://tidycal.com/silvandre/full-website-booking-type",
    },
  },
  {
    name: "Premium",
    price: "Let's Talk",
    popular: false,
    features: [
      "Everything from the Pro Package",
      "AI Integrations",
      "Automation Workflows",
      "Custom Development",
      "6 months of hosting",
      "6 months of upkeep and support",
    ],
    button: {
      text: "Get Started",
      link: "https://tidycal.com/silvandre/custom-solution-booking-type",
    },
  },
];

const defaultDescription =
  "Hinterland Web offers simple & predictable pricing. No Surprises.";
---

<Layout title="Our Honest Pricing" value="pricing" description={defaultDescription}>
  <Container
    class="px-[5%] text-heading-1 dark:text-tertiary py-16 md:py-24 lg:py-28 mt-18"
  >
    <Sectionhead>
      <h1
        slot="title"
        class="text-6xl font-bold md:mb-6 md:text-7xl lg:text-8xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600 overflow-visible"
      >
        Our Prices
      </h1>
      <p slot="desc" class="md:text-md text-xl">
        Simple & predictable pricing. No Surprises. All Websites are mobile friendly and SEO Optimised!
      </p>
    </Sectionhead>

    <div
      class="dark:text-tertiary grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto max-w-screen-lg mt-12"
    >
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
