---
import Layout from "../layouts/Layout.astro";
import Container from "../components/sections/container.astro";
import Sectionhead from "../components/sections/sectionhead.astro";
import PricingCard from "../components/sections/pricingCard.astro";

const pricing = [
  {
    name: "STARTER PLAN",
    price: {
      setup: "$1,800",
      monthly: "$199",
    },
    popular: false,
    subtitle: "For Small Businesses & Startups",
    description:
      "Get started with a sleek, mobile-friendly website designed to capture leads and improve your online presence.",
    features: [
      "3-Page Website",
      "SEO Optimisation & Basic Keyword Research",
      "Lead Capture Forms",
      "Mobile-Friendly Website Design",
      "Mobile App Management",
      "Email Support",
    ],
    button: {
      text: "SIGN UP NOW",
      link: "https://api.leadconnectorhq.com/widget/bookings/booking-type-1",
    },
  },
  {
    name: "GROWTH PLAN",
    price: {
      setup: "$3,000",
      monthly: "$300",
    },
    popular: true,
    subtitle: "For Scaling Businesses & Entrepreneurs",
    description:
      "Scale your business with advanced SEO, automation, and lead management tools to maximize conversions.",
    features: [
      "5-Page Website",
      "Everything in Starter, PLUS:",
      "Advanced SEO & Content Strategy",
      "CRM Integration for Lead Management",
      "AI Chatbot & Automated Email Sequences",
      "Conversion-Focused Website Design",
      "Real-Time Analytics & Reporting",
      "Priority Support",
    ],
    button: {
      text: "SIGN UP NOW",
      link: "https://api.leadconnectorhq.com/widget/bookings/booking-type-1",
    },
  },
  {
    name: "ELITE PLAN",
    price: {
      setup: "$4,700",
      monthly: "$550",
    },
    popular: false,
    subtitle: "For High-Performing Brands & Enterprises",
    description:
      "Unlock full automation, premium customization, and enterprise-level solutions for high-growth businesses.",
    features: [
      "10+ Page Website",
      "Everything in Growth, PLUS:",
      "Full AI-Driven Automation & Smart Workflows",
      "E-Commerce & Payment Integration",
      "Custom Branding & UI/UX Enhancements",
      "Multi-Platform Lead Generation",
      "Dedicated Account Manager",
      "24/7 VIP Support",
    ],
    button: {
      text: "SIGN UP NOW",
      link: "https://api.leadconnectorhq.com/widget/bookings/booking-type-1",
    },
  },
];

const defaultDescription = "Flexible Plans Tailored to Your Business Needs";
---

<Layout
  title="Our Flexible Pricing Options"
  value="pricing"
  description={defaultDescription}
>
  <Container
    class="px-[5%] text-heading-1 dark:text-tertiary py-16 md:py-24 lg:py-28 mt-18"
  >
    <Sectionhead>
      <h1
        slot="title"
        class="text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600 overflow-visible"
      >
        Our Flexible <br /> Pricing Options
      </h1>
      <p slot="desc" class="md:text-md text-xl">
        Flexible Plans Tailored to Your Business Needs
      </p>
    </Sectionhead>

    <div
      class="dark:text-tertiary grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto max-w-screen-lg mt-12"
    >
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
